################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreMQ/.vs/CoreMQ/v16/Server/sqlite3/db.lock
